:root {
    --bg: #1e1e1eff;
    --txt: #dbdbdbff;
    --acc: #778745;
    /*#ffa861 (oranje)*/
    --dtxt: #505050;
}
body {
    background-color:var(--bg);
    color:var(--txt);
    font-family:monospace;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 2em;
    /*width: 300px;*/
    font-size: 14px;
}
a:any-link {
    color:var(--acc);
    text-decoration:none
}
a:hover {
    text-decoration:underline;
    color: #82944C
}
i {
    color:var(--dtxt)
}
textarea {
    background-color: var(--bg);
    color: var(--txt);
    border-radius: 1px;
    border: 2px solid var(--dtxt);
}
