:root {
    --bg: #1e1e1eff;
    --fg: #dbdbdbff;
    --acc1: #ffa861;
    --dsat: #505050;
}
body {
    background-color:var(--bg);
    color:var(--fg);
    font-family:monospace;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 2em;
    /* width: 300px; */
    font-size: 14px;
}
a:any-link {
    color:var(--acc1);
    text-decoration:none
}
a:hover {
    text-decoration:underline
}
i {
    color:var(--dsat)
}

